In [2]:
import pandas as pd
import numpy as np

In [21]:
def read_bed(file):
    data = pd.read_csv(file, sep='\t', header=None)
    data.columns = ['chr', 'start', 'end', 'additional_data', 'value', 'orientation', 'start2', 'end2'][:data.columns.shape[0]]
    return data

In [22]:
file = read_bed('sorted_data/mm9_Histone_H3K79me3.sorted.bed')
file

,chr,start,end,additional_data,value,orientation,start2,end2
0,chr1,3129251,3129334,NaN,208,+,3129251,3129334
1,chr1,12647561,12647848,NaN,292,+,12647561,12647848
2,chr1,14633906,14633993,NaN,203,+,14633906,14633993
3,chr1,16333014,16333177,NaN,221,+,16333014,16333177
4,chr1,16333177,16333178,NaN,154,+,16333177,16333178
...,...,...,...,...,...,...,...,...
592,chrX,166527237,166527500,NaN,1820,+,166527237,166527500
593,chrX,166650059,166650280,NaN,2004,+,166650059,166650280
594,chrY,2497956,2498032,NaN,203,+,2497956,2498032
595,chrY,2652210,2652212,NaN,1183,+,2652210,2652212
596,chrY,2652212,2652325,NaN,1194,+,2652212,2652325

In [23]:
data_by_chroms = {
    chr: file[file.chr == chr].sort_values(by='start')
    for chr in file.chr.value_counts().index
}

In [27]:
for chr, data in data_by_chroms.items():
    print(f'chrome: {chr}', end=' ... ')
    errors = (np.array(data.start[1:]) < np.array(data.end[:-1])).sum()
    if errors == 0:
        print('ok')
    else:
        print(f'fail: {errors} out of {data.shape[0] - 1}' )

chrome: chr9 ... ok
chrome: chr1 ... ok
chrome: chr2 ... ok
chrome: chr8 ... ok
chrome: chr4 ... ok
chrome: chr5 ... ok
chrome: chr17 ... ok
chrome: chr10 ... ok
chrome: chr3 ... ok
chrome: chr14 ... ok
chrome: chr13 ... ok
chrome: chr6 ... ok
chrome: chrX ... ok
chrome: chr11 ... ok
chrome: chr18 ... ok
chrome: chr16 ... ok
chrome: chr12 ... ok
chrome: chr7 ... ok
chrome: chr15 ... ok
chrome: chr19 ... ok
chrome: chrM ... ok
chrome: chrY ... ok

In [28]:
chr, data = 'chr1', data_by_chroms['chr1']
errors_indexes_nums = np.array(data.start[1:]) < np.array(data.end[:-1])
errors_index = data.index[:-1][errors_indexes_nums].union(data.index[1:][errors_indexes_nums])
data.loc[errors_index, :]

Empty DataFrame
Columns: [chr, start, end, additional_data, value, orientation, start2, end2]
Index: []